p{font-size:15pt;color:blue;font-style:sans-serief,Arial;}

h3{font-size:20pt;color:red;font-style:Arial;}

img{border-style:ridge;border-wisth:50px;border-color:blue green red yellow;}

p{font-size:15pt;color:purple;font-style:sans-serief,Arial;}

h4{font-size:20pt;color:orange;font-style:Arial;}

